.footer_divider{
    margin: 3rem 0;
}

.footer_columns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer_shopcart_description{
    margin: 2.5rem 0;
    color: gray;
}

.footer_payment_title{
    margin-bottom: 1.5rem;
}

.footer_payment_wrap{
    display: flex;
    flex-wrap: wrap;
}

.footer_payment_image{
    border: 1px solid gray;
    border-radius: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.footer_nav{
    margin-left: 3rem;
}

.footer_nav h1{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.footer_nav ul{
    list-style: none;
}

.footer_nav li{
    margin-bottom: 0.5rem;
    color: rgb(88, 85, 85);
}

.footer_nav li:hover{
    margin-left: 0.5rem;
    color: orange;
}

#footer_copyright_divider{
    margin-bottom: 1rem;
}

.copyright_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.copyright_left_menu{
    display: flex;
}

.copyright_left_menu_single_category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.copyright_left_menu_image{
    margin-right: 0.5rem;
}

.copyright_menu{
    display: flex;
}

.copyright_menu p{
    margin-right: 2rem;
}


