.home{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5rem;
}

/* Homepage Banner */

.banner_area{
    margin-top: 1vw;
}

.banner_image{
    background-image: linear-gradient(#a5d4e6,#beaa8c);
    width: 100vw;
    height: 87vh;
    position: relative;
    overflow: hidden;
    transform: translateX(100%);
    animation: slide-side 1s ease-in forwards;
}

@keyframes slide-side{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

.banner_background{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    img{
        width: 100%;
        object-fit: fill;
    }
}

#banner_image_1{
    overflow: hidden;
    position: absolute;
    bottom: 20vh;
    right: 40vw;
}

#banner_image_1 img,#banner_image_2 img,#banner_image_3 img,#banner_image_4 img{
    width: 100%;
    object-fit: fill;
}

#banner_image_2{
    overflow: hidden;
    position: absolute;
    bottom: 23vh;
    right: 15vw;
}

#banner_image_3{
    overflow: hidden;
    position: absolute;
    bottom: 33vh;
    right: 30vw;
}

#banner_image_4{
    overflow: hidden;
    position: absolute;
    bottom: 51vh;
    right: 9vw;
}

.banner_title_1, .banner_title_2{
    position: absolute;
    top: 35%;
    left: 5%;
    color: #003d29;
    font-size: 4rem;
}

.banner_title_2{
    top: 45%;
}

.banner_paragraph{
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 1.5rem;
}

.banner_button{
    position: absolute;
    bottom: 19%;
    left: 5%;
    font-size: 1.2rem;
    background-color: #003d29;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
}

.banner_button:hover{
    background-color: rgb(75, 9, 9);
}

.banner_overlay_images{
    transform: translateY(-100%);
    animation: slide-down 1s ease-in forwards;
}

@keyframes slide-down{
    from{
        transform: translateY(-80%);
    }
    to{
        transform: translateY(0);
    }
}

/* Homepage Content */

.homepage{
    margin: 0 8vw;
}

/* Shop our categories */

.section_title_wrap{
    margin: 5vw 0 2.5vw 0;
}

.category_list, .today_deals_list{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
}

.category_list::-webkit-scrollbar, .today_deals_list::-webkit-scrollbar, .weekly_popular_product_list::-webkit-scrollbar, .most_selling_product_list::-webkit-scrollbar{
    width: 5px;
    height: 0.35rem;
    background-color: #aaa;
    border-radius: 3rem;
    cursor: pointer;
}

.category_list::-webkit-scrollbar-thumb, .today_deals_list::-webkit-scrollbar-thumb, .weekly_popular_product_list::-webkit-scrollbar-thumb, .most_selling_product_list::-webkit-scrollbar-thumb{
    background-color: #6c6663;
    border-radius: 3rem;
    cursor: pointer;
}

.single_category{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin:0 1.5vw 1.5vw 0;
}

.shop_category_image{
    height: 32vh;
    width: 12.5vw;
    overflow: hidden;
    border-radius: 0.5rem;
    img{
        object-fit: fill;
        width: 12.5vw;
        height: 32vh;
        transition: transform 0.3s ease-in-out;
    }
}

.single_category:hover .category_image{
    transform: scale(1.2);
}

.category_title{
    position: absolute;
    top: 8%;
    color: white;
}

/* Today deals for you */

.single_deal{
    background-color: white;
    border-radius: 1rem;
    margin: 0 2vw 1.5vw 0;
    overflow: visible;
    cursor: pointer;
}

.deal_thumbnail_wrap{
    background-color: #f5f6f6;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 26.35vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_deal_image{
    overflow: hidden;
}

.deal_image{
    width: 100%;
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}

.single_deal:hover .deal_image{
    transform: scale(1.2);
}

#product_wishlist{
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
}

#product_wishlist:hover{
    background-color: rgb(235, 179, 188);
}

.product_content{
    padding: 0.2rem;
}

.product_title_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.product_price{
    font-weight: 800;
}

.product_detail{
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: rgb(96, 92, 92);
}

.product_star_wrap{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.product_star_wrap span{
    color: green;
    font-size: 1.3rem;
    font-variation-settings:
    'FILL' 1,
    'opsz' 48
}

.product_button{
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1rem;
    width: 6vw;
}

.product_button:hover{
    background-color: rgb(10, 76, 10);
    color: white;
    border: 1px solid rgb(10, 76, 10);
}

/* Choose Brand */

.brand_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.single_brand{
    background-color: #f5f6f6;
    border-radius: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid transparent;
    padding: 1vw 2vw;
}

.single_brand:hover{
    border: 1px solid black;
}

.brand_image{
    transition: transform 0.3s ease-in-out;
}

.brand_image:hover{
    transform: scale(1.2);
}

.brand_content{
    margin-left: 1vw;
    p{
        font-size: 0.74rem;
    }
}


/* Get Discount */

.discount_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}

.get_discount_single_item{
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.get_discount_content{
    padding: 1rem 2rem;
}

.discount_price{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.3rem 0;
}

.discount_description{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    color: rgb(47, 45, 45);
}

.discount_image_container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.discount_image{
    width: 100%;
    height: 52%;
    transition: transform 0.3s ease-in-out;
}

.get_discount_single_item:hover .discount_image{
    transform: scale(1.2);
}

#get_discount_single_item_1{
    background-color: rgba(242, 242, 158,0.5);
    span{
        color: #cb9917;
    }
}

#get_discount_single_item_2{
    background-color: #eec1c1;
    span{
        color: #961f1f;
    }
}

#get_discount_single_item_3{
    background-color: #f2e4d9;
    span{
        color: #94623c;
    }
}

#get_discount_single_item_4{
    background-color: #d2f7ec;
    span{
        color: #003d29;
    }
}

/* Best Deals For You */

.weekly_popular_product_list{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
}

/* Discount Banner */

.discount_banner{
    margin: 8vw 0 4vw;
    overflow: hidden;
}

.discount_banner_container{
    position: relative;
    overflow: hidden;
}

.discount_banner_image_container{
    width: 100vw;
    height: 85vh;
    overflow: hidden;
}

.discount_banner_image{
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}

.discount_banner_container:hover .discount_banner_image{
    transform: scale(1.2);
}

.discount_banner_content{
    background-color: #003d29;
    position: absolute;
    top: 5vw;
    right: 10vw;
    padding: 5rem 2.5rem;
    width: 30vw;
    color: white;
    h1{
        font-size: 3.4rem;
    }
    p{
        font-size: 1.4rem;
        margin: 1rem 0 2.5rem;
    }
}

.discount_banner_button{
    padding: 1rem 2rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.discount_banner_button:hover{
    background-color: black;
    border: 1px solid transparent;
}


/* Product TabList */

.product_tab_buttons{
    margin-bottom: 2.5vw;
}

.single_product_button{
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    margin-right: 1vw;
    border: 1px solid rgb(172, 169, 169);
    cursor: pointer;
    font-size: 1rem;
    color: black;
}

#gadgets_button{
    background-color: #003d29;
    color: white;
} 

.single_product_list_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    display: none;
}

#gadgets_button_product_list{
    display: grid;
}

.single_product_list{
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.product_thumbnail_wrap{
    background-color: #f5f6f6;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.single_product_image{
    overflow: hidden;
}

.product_image{
    width: 100%;
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}

.single_product_list:hover .product_image{
    transform: scale(1.2);
}

#single_product_wishlist{
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
}

#single_product_wishlist:hover{
    background-color: rgb(235, 179, 188);
}

.single_product_content{
    padding: 0.2rem;
}

.single_product_title_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.single_product_price{
    font-weight: 800;
}

.single_product_detail{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: rgb(96, 92, 92);
}

.single_product_star_wrap{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.single_product_star_wrap span{
    color: green;
    font-size: 1.3rem;
    font-variation-settings:
    'FILL' 1,
    'opsz' 48
}

.single_product_list_button{
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1rem;
    width: 6.2vw;
}

.single_product_list_button:hover{
    background-color: rgb(10, 76, 10);
    color: white;
    border: 1px solid rgb(10, 76, 10);
}


/* Discount Banner Two */

.discount_banner_two_area{
    margin: 8vw 0 4vw;
    overflow: hidden;
}

.discount_banner_two_content{
    background-color: #ffe6cc;
    padding: 5vw 6vw 5vw 12vw;
    display: flex;
    overflow: hidden;
    position: relative;
}

.discount_banner_content_inner{
    h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 1.5rem;
        margin: 1vw 0 2vw;
    }
}

.discount_banner_two_button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    background-color: #003d29;
    color: white;
    font-size: 1.2rem;
}

.discount_banner_two_button:hover{
    background-color: #5b2d0a;
}

.discount_card_thumbnail{
    margin-left: 12vw;
}

.shopcart_card_1{
    position: absolute;
    top: 9vw;
    transform: rotate(-12deg);
}

.shopcart_card_2{
    position: absolute;
    top: 7.6vw;
    transform: rotate(-19deg);
}

.shopcart_card_3{
    position: absolute;
    top: 6.5vw;
    transform: rotate(-26deg);
}

/* Most Selling Product */

.most_selling_product_list{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
}

/* Trending Products */

.trending_product_item_wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
}

.trending_single_item{
    background-color: #f5f6f6;
    border-radius: 0.5rem;
    overflow: hidden;
}

.trending_product_image_container{
    overflow: hidden;
    height: 40vh;
}

.trending_product_image{
    width: 100%;
    height: 40vh;
    transition: transform 0.3s ease-in-out;
}

.trending_single_item:hover .trending_product_image{
    transform: scale(1.2);
}

.trending_product_content{
    margin: 1.5rem 0 0.5rem 3rem;
    p{
        margin: 0.5rem 0 1.2rem;
    }
}

.trending_product_button{
    color: white;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: none;
    background-color: #231f1e;
    font-size: 1.2rem;
}

.trending_product_button:hover{
    background-color: #003d29;
}


/* Best Selling Store */

.best_selling_store_item_wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}

.best_selling_single_item{
    overflow: hidden;
    border-radius: 0.5rem;
}

.store_images{
    position: relative;
}

.best_selling_thumbnail_wrap{
    overflow: hidden;
    border-radius: 0.5rem;
}

.best_selling_store_image{
    transition: transform 0.3s ease-in-out;
}

.best_selling_single_item:hover .best_selling_store_image{
    transform: scale(1.2) rotate(5deg);
}

.store_thumbnail_wrap{
    position: absolute;
    overflow: hidden;
    top: 83%;
    left: 4%;
}

.store_logo{
    object-fit: fill;
    border: 0.15rem solid white;
    border-radius: 3rem;
}

.best_selling_store_content{
    margin-top: 2.5rem;
}

.selling_store_detail{
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
    span{
        font-size: 0.7rem;
        margin: 0 0.2rem;
        color: gray;
        font-variation-settings:
        'FILL' 1,
        'opsz' 48
    }
}

.selling_paragraph_wrap{
    display: flex;
    color: #e4abc7;
    align-items: center;
    p{
        font-weight: 500;
    }
    span{
        margin-right: 0.5rem;
        font-size: 1.3rem;
        font-variation-settings:
        'FILL' 1,
        'opsz' 48
    }
}


/* Services to help  */

.services_help_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    margin-bottom: 8rem;
}

.services_help_single_item{
    background-color: #f5f6f6;
    overflow: hidden;
    border-radius: 0.5rem;
}

.services_help_content{
    margin: 2rem 6rem 1rem 2rem;
    overflow: hidden;
    h3{
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    p{
        color: gray;
    }
}

.services_help_thumbnail{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.services_help_image{
    width: 100%;
    height: 60%;
    transition: transform 0.3s ease-in-out;
}

.services_help_single_item:hover .services_help_image{
    transform: scale(1.2);
}





