.home{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5rem;
}

/* Homepage Banner */

.banner_image{
    background-image: linear-gradient(#a8d5e7,#c3b091);
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    animation: slide-side 1s ease-in forwards;
    position: relative;
}

@keyframes slide-side{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

#banner_background{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#banner_background img{
    object-fit: fill;
    width: 100vw;
}

.banner_area, .single_category{
    /* position: relative; */
    overflow: hidden;
}

.single_category{
    position: relative;
}

.banner_overlay{
    overflow: hidden;
}

#banner_image_1{
    position: absolute;
    bottom: 18vw;
    right: 40vw;
    top: auto;
    left: auto;
    overflow: hidden;
}

#banner_image_1 img, #banner_image_2 img, #banner_image_3 img, #banner_image_4 img{
    width: 100%;
    vertical-align: middle;
    object-fit: fill;
    object-fit: cover;
}

#banner_image_2{
    position: absolute;
    bottom: 20vw;
    right: 14vw;
    top: auto;
    left: auto;
    overflow: hidden;
}

#banner_image_3{
    position: absolute;
    bottom: 25vw;
    right: 29vw;
    top: auto;
    overflow: hidden;
    left: auto;
}

#banner_image_4{
    position: absolute;
    bottom: 34vw;
    right: 10vw;
}

.banner_overlay_images{
    transform: translateY(-100%);
    animation: slide-down 1s ease-in forwards;
}

@keyframes slide-down{
    from{
        transform: translateY(-70%);
    }
    to{
        transform: translateY(0);
    }
}

.banner_title_1, .banner_title_2{
    position: absolute;
    top: 35%;
    left: 5%;
    color: #003d29;
    font-size: 4rem;
}

.banner_title_2{
    top: 45%;
}

.banner_paragraph{
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 1.5rem;
}

.banner_button{
    position: absolute;
    bottom: 19%;
    left: 5%;
    background-color: #003d29;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
}

/* Shop our categories */

.homepage{
    margin: 0 12vw;
}

.shop_category_area, .best_deal_for_you_area, .choose_brand_area, .product_tab_area{
    margin-top: 2.5rem;
}

.section_title_wrap{
    margin-bottom: 2rem;
}

.category_list{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
}

.category_list::-webkit-scrollbar, .today_deals_list::-webkit-scrollbar{
    width: 5px;
    height: 0.35rem;
    background-color: #aaa;
    border-radius: 3rem;
    cursor: pointer;
}

.category_list::-webkit-scrollbar-thumb, .today_deals_list::-webkit-scrollbar-thumb{
    background-color: #7f7d7c;
    border-radius: 3rem;
    cursor: pointer;
}

.single_category{
    border-radius: 0.5rem;
    margin-right: 2rem;
    /* cursor: pointer; */
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.single_category:hover{
    border-radius: 0.5rem;
}

.shop_category_image{
    overflow: hidden;
    border-radius: 0.5rem;
}

.swiper_pagination{
    width: 100vw;
    height: 4vw;
    left: 0;
    right: 0;
    position: relative;
    background-color: rgba(35,31,30,0.2);
}

.category_image{
    object-fit: cover;
    width: 13vw;
    height: 17vw;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.category_title{
    position: absolute;
    top: 8%;
    color: white;
}

.category_image:hover{
    transform: scale(1.15);
    border-radius: 0.5rem;
}

/* Today deals for you */

.today_deals_list{
    margin: 2rem 0 2rem 0;
    display: flex;
    overflow: auto;
}

.single_deal{
    background-color: white;
    border-radius: 1rem;
    margin-right: 4vw;
    cursor: pointer;
    /* width: 15vw; */
}

.deal_thumbnail_wrap{
    background-color: #f5f6f6;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.deal_thumbnail_wrap img{
    transition: transform 0.3s ease-in-out;
}

.deal_thumbnail_wrap img:hover{
    transform: scale(1.2);
}

#product_wishlist{
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    border-radius: 2rem;
    top: 4%;
    right: 5%;
}

#product_wishlist:hover{
    background-color: #eedde7;
}

.product_title_wrap{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.product_price{
    font-weight: 600;
}

.product_detail{
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: gray;
}

.product_star_wrap{
    display: flex;
    margin-bottom: 1rem;
}

.product_star_wrap span {
    color: green;
    font-size: 1.3rem;
    font-variation-settings:
    'FILL' 1,
    'opsz' 48
}

.product_button{
    padding: 0.5rem 2rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.product_button:hover{
    background-color: green;
    border: none;
    color: white;
}

/* Choose Brand */

.brand_list{
    display: flex;
    flex-wrap: wrap;
    white-space: wrap;
}

.single_brand{
    background-color: #f5f6f6;
    border-radius: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15.2vw;
    padding: 0.5rem;
    margin-right: 2vw;
    margin-top: 2rem;
    border: 1px solid transparent;
}

.single_brand:hover{
    border: 1px solid black;
}

.brand_image{
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.brand_image:hover{
    transform: scale(1.2);
}

.brand_content{
    margin: 0 0.3rem;
}

.delivery_time{
    font-size: 0.7rem;
}

/* Get Discount */

.get_discount_area{
    margin-top: 2.5rem;
}

.discount_list{
    display: flex;
}

.get_discount_single_item{
    border-radius: 0.4rem;
    overflow: hidden;
    margin-right: 2vw;
    cursor: pointer;
    width: 22vw;
}

.get_discount_content{
    padding: 1.5rem;
}

.discount_price{
    font-size: 2.5rem;
    font-weight: bold;
}

.discount_description{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.discount_image_container{
    overflow: hidden;
}

.discount_image{
    transition: transform 0.3s ease-in-out;
}

.get_discount_single_item:hover .discount_image{
        transform: scale(1.2);
}

#get_discount_single_item_1{
    background-color: #f9e2ab;
    span{
        color: #fbb105;
    }
}

#get_discount_single_item_2{
    background-color: #f9dcdc;
    span{
        color: #472705;
    }
}

#get_discount_single_item_3{
    background-color: #f2e4d9;
    span{
        color: #775e28;
    }
}

#get_discount_single_item_4{
    background-color: #d2f7ec;
    span{
        color: rgb(2, 38, 2);
    }
}

/* Best Deals For You */

.deals_for_you_list{
    display: flex;
    overflow: auto;
}

/* Discount Banner */

.discount_banner{
    margin-top: 3vw;
}

.discount_banner_container{
    position: relative;
}

.discount_banner_image_container{
    overflow: hidden;
}

.discount_banner_image{
    width: 100vw;
    height: 50vw;
    transition: transform 0.3s ease-in-out
}

.discount_banner_container:hover .discount_banner_image{
    cursor: pointer;
    transform: scale(1.2);
}

.discount_banner_content{
    position: absolute;
    top: 17%;
    right: 15%;
    width: 25vw;
    background-color: rgb(6, 59, 6);
    padding: 5rem 3rem;
    color: white;
    cursor: pointer;
}

.discount_banner_title{
    font-size: 3rem;
}

.discount_banner_button{
    padding: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px white solid;
    color: white;
    border-radius: 3rem;
}

.discount_banner_button:hover{
    border: none;
    background-color: black;
    cursor: pointer;
}

/* Product TabList */

.product_tab_content{
    display: flex;
    flex-wrap: wrap;
    white-space: wrap;
}

/* Discount Banner Two */

.discount_banner_two_area{
    margin: 2rem 0;
    background-color: #ffe6cc;
    height: 22vw;
}

.discount_banner_two_content{
    position: relative;
    margin: 0 22vw;
    top: 20%;
}

.discount_banner_two_title{
    font-size: 3.5rem;
    font-weight: bolder;
}

.discount_banner_two_detail{
    font-size: 1.5em;
    margin: 1.5rem 0;
}

.discount_banner_two_button{
    color: white;
    background-color: #003d29;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
}

.discount_banner_two_button:hover{
    background-color: #422a10;
}

.shopcart_card_one{
    position: absolute;
    right: 0%;
    top: 17%;
    transform: rotate(-10deg);
}

.shopcart_card_two{
    position: absolute;
    right: 0%;
    top: 12%;
    transform: rotate(-19deg);
}

.shopcart_card_three{
    position: absolute;
    right: 0%;
    top: 1%;
    transform: rotate(-29deg);
}

/* Most Selling Product */

.most_selling_product_area, .trending_product_area, .best_selling_store_area, .services_help_area{
    margin-top: 2.5rem;
}

.most_selling_product_list{
    display: flex;
    overflow: auto;
}

/* Trending Products */

.trending_product_item_wrap{
    display: flex;
}

.trending_single_item{
    margin-right: 2rem;
    background-color: rgb(235, 232, 232);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 40vw;
}

.trending_product_image_container{
    overflow: hidden;
}

.trending_product_image{
    width: 40vw;
    height: 18vw;
    transition: transform 0.3s ease-in-out;
}

.trending_single_item:hover .trending_product_image{
    transform: scale(1.2);
}

.trending_product_content{
    margin: 1.5rem 0 0.5rem 3rem;
}

.trending_product_title{
    margin: 1rem 0;
}

.trending_product_button{
    color: white;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: none;
    background-color: #422a10;
}

.trending_product_button:hover{
    background-color: #003d29;
}

/* Best Selling Store */

.best_selling_store_item_wrap{
    display: flex;
    overflow: auto;
}

.best_selling_single_item{
    margin-right: 2rem;
}

.best_selling_thumbnail_wrap{
    border-radius: 0.5rem;
    overflow: hidden;
}

.best_selling_store_image{
    border-radius: 0.5rem;
}

.best_selling_single_item:hover .best_selling_store_image{
    transform: scale(1.2) rotate(6deg);
}

.store_images{
    position: relative;
}

.store_logo{
    position: absolute;
    border: 1px solid white;
    border-radius: 3rem;
    top: 83%;
    left: 4%;
}

.best_selling_store_content{
    margin-top: 2.5rem;
}

.selling_category_wrap{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    color: gray;
}

.selling_category_wrap span{
    font-size: 0.7rem;
    margin: 0 0.3rem;
    color: gray;
    font-variation-settings:
    'FILL' 1,
    'opsz' 48
}

.selling_paragraph_wrap{
    display: flex;
    color: #e4abc7;
}

.selling_paragraph_wrap span{
    margin-right: 0.5rem;
    font-size: 1.3rem;
    font-variation-settings:
    'FILL' 1
}

.selling_paragraph_wrap p{
    font-weight: 500;
}

/* Services to help  */

.services_help_area{
    margin-bottom: 6rem;
}

.services_help_wrap{
    display: flex;
}

.services_help_single_item{
    margin-right: 3rem;
    background-color: #f5f6f6;
    overflow: hidden;
    border-radius: 0.5rem;
    /* width: 21.5vw; */
    /* height: 28vw; */
}

.services_help_content{
    margin: 2rem 6rem 1rem 2rem;
    h3{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    p{
        color: gray;
    }
}

.services_help_thumbnail{
    overflow: hidden;
}

.services_help_image{
    transition: transform 0.3s ease-in-out;
}

.services_help_single_item:hover .services_help_image{
    transform: scale(1.2);
}




