*{
    padding: 0;
    margin: 0;
}

/* header{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
} */

.header{
    background-color: green;
    display: flex;
    padding: 0.5vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#phone_button{
    margin-left: 4vw;
}

.header button{
    color: white;
}

.header button, .navbar button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.location{
    display: flex;
    margin-right: 4vw;
}

#arrow_down{
    margin-right: 1vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 8vw 0 8vw;
}

.navbar button{
    margin-right: 2vw;
}

nav, .user{
    display: flex;
}


.search_bar span{
    position: absolute;
}

#search_icon{
    right: 21.5%;
    padding: 0.2vw;
}

.search_bar{
    margin-right: 3vw;
    input{
        border-radius: 1rem;
        padding: 0.4vw;
        width: 12vw;
        border: 1px solid black;
    }   
    input:focus{
        border: 1px solid black;
        outline: none;
    } 
}

.navbar button{
    font-size: 1rem;
}

.category_location, .category_language{
    position: relative;
}

.category_location:hover ul{
    display: block;
}

.category_location_list{
    display: none;
    background-color: white;
    color: black;
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    li{
        padding: 0.5rem 2rem;
    }
    li:hover{
        color: rgb(238, 122, 6);
    }
}

.category_language_list{
    display: none;
    background-color: white;
    color: black;
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    li{
        padding: 0.5rem 2rem;
    }
    li:hover{
        color: rgb(238, 122, 6);
    }
}

.category_language:hover ul{
    display: block;
}

.popular_category_items{
    position: relative;
}

.popular_category_items:hover{
    border-bottom: 0.15rem rgb(0, 0, 255) solid;
    span{
        color: blue;
    }
}

.popular_category{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: white;
    margin-top: 1.4rem;
    padding: 1.4rem;
    text-align: start;
    display: none;
    hr{
        margin: 1.5rem 0;
        border:1px solid #d3d5d5;
    }
}

.popular_category_list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}

.single_popular_category{
    display: flex;
    width: 19vw;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #f5f6f6;
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
}

.single_popular_category:hover{
    .popular_category_content h4{
        color: blue;
    }
    h4{
        a{
            color: blue;
        }
    }
} 

.popular_category_content{
    margin-left: 0.7rem;
    text-align: start;
    p{
        color: gray;
        margin-top: 0.2rem;
        font-size: 0.85rem;
    }
}

.popular_category_content h4{
    a{
        color: black;
        text-decoration: none;
    }
}

